<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>

    <script>
        let url = `ws://${window.location.host}/ws/socket-server/{{game_code}}/`
        const gameSocket = new WebSocket(url)
        gameSocket.onmessage = websocketMessageEvent

        async function websocketMessageEvent(event){
            let data = JSON.parse(event.data)
            console.log(data)
        }
    </script>
</body>
</html>