{% extends 'base.html' %}
{% block content %}

    <section class="max-w-screen-xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6 dark:text-white">Все модули <a>{{author.username}}</a></h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            
            {% for module in modules %}
            
            <div class="bg-white dark:bg-gray-800 p-4 shadow-md rounded-lg dark:text-white">
                <a href="/module/{{module.id}}">
                <h2 class="text-xl font-bold mb-2">{{module.title}}</h2>
                </a>
            </div>

            {% endfor %}
        </div>
    </section>

{% endblock %}