{% extends 'base.html' %}
{% block content %}

    <section class="max-w-screen-xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6 dark:text-white">Все модули</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            
            {% for module in modules %}
            <div class="bg-white dark:bg-gray-800 p-4 shadow-md rounded-lg dark:text-white">
                <a href="/module/{{module.id}}">
                <h2 class="text-xl font-bold mb-2">{{module.title}}</h2>
                    <figcaption class="flex justify-left items-center space-x-3 mb-3">
                        
                        <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div>{{module.author.username}}</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Создатель модуля</div>
                        </div>
                    </figcaption>
                </a>
            </div>

            {% endfor %}
            
        </div>
    </section>

{% endblock %}