{% extends 'base.html' %}
{% block content %}

    <div class="grid md:grid-cols-2" id="lobby">

        <div>
            <div class="max-w-md mx-auto py-8 text-center">
                <p class="text-gray-500 dark:text-gray-400 mb-4">Код для подключения: <br><b class="text-5xl">[[code]]</b></p>

                <div class="max-w-sm mx-auto py-8 text-center flex justify-center items-center">
                    <div id="qrcode" class="flex justify-center items-center w-fit p-3 text-center bg-gray-200 rounded-lg"></div>
                    
                </div>

                <div class="grid grid-cols-1 max-w-5">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" onclick="copy_link()">Скопировать ссылку</button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" onclick="change_code()">Изменить код</button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" onclick="settings()">Настройки</button>
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4" onclick="start_game()">Начать</button>
                </div>
            </div>


        </div>

        <div>
            <h1 class="text-3xl font-bold mb-6 dark:text-white max-w-md mx-auto py-8 text-center">Подключившиеся игроки</h1>
            <h2 v-if="Object.keys(players).length == 0" class="text-2xl font-bold mb-6 dark:text-gray-400 max-w-md mx-auto py-8 text-center">Ожидаем участников..</h2>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 flex-wrap justify-between items-center">
                <figcaption v-for="player, player_id in players" class="flex grow justify-left items-center space-x-3 relative border-2 border-gray-200 rounded-lg p-2 hover:bg-red-500 hover:border-red-700 cursor-pointer" @click="remove_player(player_id)">
                    <img :src="avatars_link+player_id" class="w-16 h-16 rounded-full" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>[[player.name]]</div>
                        <div class="text-sm font-light text-gray-500 dark:text-gray-400">
                            <span v-if="player.is_auth">Авторизованный пользователь</span>
                            <span v-else>Анонимный пользователь</span>
                        </div>
                    </div>
                </figcaption>

            </div>
        </div>
    
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp, ref } = Vue

        const app = createApp({
            setup() {
            var players = ref({})
            var avatars_link = "https://api.dicebear.com/7.x/bottts/svg?seed="
            var code = ref("{{lobby.code}}")
            
            return {
                players,
                avatars_link,
                code,
            }
            },
            delimiters: ['[[', ']]'],

            methods: {
                add_player (id, name, auth) {
                    this.players[id] = {"name": name, "is_auth": auth}
                },

                remove_player(id){
                    let confirmation = confirm(`Вы собираетесь выгнать ${this.players[id].name}?`)
                    
                    if (confirmation){
                        gameSocket.send(JSON.stringify({"command": "remove", "id": id}))
                    }

                }

            }
        }).mount('#lobby')
        </script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        var qr = new QRCode(document.getElementById("qrcode"), {
            text: "https://"+window.location.host+"{% url 'play' lobby.uuid %}",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "transparent",
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>

    <script>

        function copy_link(){
            navigator.clipboard.writeText(window.location.host+"{% url 'play' lobby.uuid %}");
        }
    </script>


    <script>
        let url = `ws://${window.location.host}/game/admin/{{lobby.secret}}/`
        const gameSocket = new WebSocket(url)
        gameSocket.onmessage = websocketMessageEvent


        async function websocketMessageEvent(event){
            let data = JSON.parse(event.data)
            console.log(data)

            switch(data.command){
                case 'join':
                    app.add_player(data["message"]["id"], data["message"]["name"], false)
                    break;

                case 'left':
                    delete app.players[data["message"]["id"]]
                    break;

                case 'new_code':
                    app.code = data["code"]
                    break;

                default:
                    console.log(data)
            }
            
        }


        async function start_game(){
            gameSocket.send(JSON.stringify({"command": "start"}))
        }

        async function change_code(){
            gameSocket.send(JSON.stringify({"command": "change_code"}))
        }

        async function remove_player(player_id){
            delete app.players[player_id]
        }

    </script>
    
{% endblock %}